[Desktop Entry]
Name=CafeSync
Name[de]=CafeSync
Name[es]=CafeSync
Name[fr]=CaféSync
Name[pt]=CafeSync
Comment=Your Personal Billboard and Card Collecting service
Exec=qmlscene %U share/qml/CafeSync/Main.qml
Icon=graphics/CafeSync.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=portrait
X-Ubuntu-Gettext-Domain=cafesync.vagueentertainment
